#credentials for OAUTH2
application.yml

.mvn/wrapper/maven-wrapper.properties


# Compiled class files

*.class

# Log files
*.log
logs/
*.pid
hs_err_pid*

# Java & Maven
target/
*.jar
*.war
*.ear
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# JEnv files
.jenv/

# Build artifacts
.mvn/


# Dependencies
**/node_modules/
**/vendor/
